.contacttitle {
    text-transform:  capitalize;
    font-size:  34px;
    color: #36184e;
    font-weight: 500;
}
.row.conrow {
    border: 1px dashed #3b1c5352;
    padding: 15px;
    overflow: hidden;
    position: relative;
    top: 44px;
    margin-bottom: 95px;
}


.addcontactdata {
    background: linear-gradient(60deg,#a84cf1 0%,#601d96 50%,#a84cf1 100%);
    padding: 10px 50px;
    height: 50px;
}

.addcontactdata:hover,.addcontactdata:focus, {
    background: linear-gradient(60deg,#601d96 0%,#a84cf1 50%,#a84cf1 0%) !important;
}