nav.docs {
    height: 50px !important;
    line-height: 46px !important;
    margin: 19px 0px;
    background: #746382;
}
.main-menu {
    background: #fff;
}

th
{
	text-transform: capitalize;
}
table#example1 {
	border: 1px solid #dddddd;
    width: 98% !important;
    margin: 0 auto;
        margin-bottom: 40px;
}
tr:nth-child(even) {
    background-color: #dddddd 
    !important;
}
thead {
    background: #eee;
}