p {
    margin:  0px;
}

.alltypebox {
    position:  relative;
    top: 20px;
   
}
.doctitlee {font-weight:  bold;margin: 13px;color:  grey;}

.subtype {
    margin-left:  12px;
    font-size:  12px;
}
input.editlink {
    width: 27% !important;
    font-size: 10px;
    font-weight:  bold;
}
