.edtttitle {
    font-size: 16px;
    text-transform:  capitalize;
    padding:  16px;
    font-weight:  bold;
    color: #213f66;
}

.row1 {
    background: #EAEAEA !important;
    border: 1px solid #8080804d;
    width:  99%;
    margin: 0 auto !important;
}
body{

	font-family:  Arial, sans-serif !important;
}
::placeholder
{
	text-transform: capitalize;
}
select#shared_users {
    height:  95px;
}
.main-menu {
    width: 97%;
    margin: 0 auto;
    background-image: #fff !important;
    overflow: hidden;
    height: auto !important;
}

.left h4 {
    font-size: 12px;
    position:  relative;
    top: -6px;
    text-transform: capitalize;
    margin: 0px;
    font-weight:  bold;
    color: #323232;
}
.leftt h4 {
    font-size: 12px;
    margin: 0px;
    position: relative;
    bottom: 5px;
    text-transform: capitalize;
    font-weight: bold;
    color: #323232;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: relative;
    opacity: 1;
    pointer-events: all;
}

select {
    height: 25px;
    font-size: 10px;
    position: relative;
    bottom: 1px;
}
input.validate {
    background: #fdfdfd !important;
}
::placehoder{
	text-transform: capitalize;
}
input[type="checkbox"] {
    height: 19px !important;
    position: relative;
    /* bottom: 26px !important; */
    top: 3px;
}
