.left h4 {
    font-size: 12px;
    text-transform: uppercase;
    font-weight:  bold;
    color:  #818181;
}
.condcont {
    padding: 0px 29px;
    margin-top: 5px;
    background: #FAFAFA;
    margin-bottom: 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    width: 99%;
    margin: 0 auto;
    position: relative;
    /* border-bottom: 1px solid #423c3c; */
    height: 103px;
    border: 1px solid #ddd;
    border-radius: 8px;
}
input[type="text"] {
    background:  #fff !important;
}
.note {
    position:  relative;
    /* top: 94px; */
    /* float: left; */
    position:  relative;
    /* left: -368px; */
    padding: 10px 20px;
    letter-spacing:  0px;
    font-family:  Arial, sans-serif;
    font-size:  12px;
}
select {
    background-color: rgba(255,255,255,0.9);
    width: 100%;
    padding: 0px;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    height: auto;
    font-size: 12px;
}
input[type="submit"] {
    width: 72px !important;
    position:  relative;
    top: 0px;
    height: 21px !important;
}
.excv {
    position:  relative;
       padding: 0px 5px;
    float:  right;
    font-size:  13px;
    color:  grey !important;
}

.excv a {
    font-size: 11px;
    text-transform: capitalize;
    color:  grey;
    position:  relative;
    bottom:  10px;
}
.filter {
    position:  relative;
    bottom:  23px;
    padding-left:  18px;
    text-transform:  capitalize;
    font-size:  12px;
    -font-we: b;
    font-weight:  bold;
}
form a {
    color: grey;
    padding:  0px 16px;
}
.titlee a {
    color:  grey;
    font-size: 17px;
    text-transform:  capitalize;
    font-weight:  bold;
    /* margin-top: 24px !important; */
    /* padding: 16px !important; */
}

.titlee {
        margin-bottom: 4px !important;
    margin: 18px 22px;
}
body
{
    font-family: Arial, sans-serif !important;
}
.left h4 {
    margin-bottom: 7px;
}

input[type="text"] {
    position:  relative;
    /* bottom: 35px !important; */
    top: 0;
    height: 18px !important;
}